.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  list-style-type: none;
  font-weight: bold;
}
.Pagination-number-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Pagination-total-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}

.Pagination-item {
  margin-right: 10px;
  margin-left: 10px;
  width: 40px;
}
.Pagination-current-page {
  margin-right: 10px;
  margin-left: 10px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: large;
}
.Pagination-item:hover {
  cursor: pointer;
}
.Pagination-search-container {
  display: flex;
  justify-content: center;
}
.Pagination-search-button {
  border-radius: 5px;
  border-color: inherit;
  width: 100px;
  padding: 10px;
}
