.Containerlist {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  color: white;
  flex-wrap: wrap;
  /* background-color: grey; */
  background-color: rgb(60, 60, 60);
  width: 100%;
  /* min-width: calc(var(--min-width) + 50px); */
}
